.reviews{
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 54px;
  padding-bottom: 67px;
  &__more{
    margin-top: 33px;
  }
  &__button{
    margin-left: auto;
    margin-right: auto;
  }
}
.review{
  position: relative;
  display: flex;
  margin-top: 33px;
  &__title, &__data, &__name, &__del{
    color: $black-three;
    font-size: 16px;
    line-height: 20px;
  }
  &__name{
    margin-bottom: 9px;
  }
  &__title{
    font-weight: bold;
  }
  &__photo{
    margin-right: 10px;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
.review:first-child{
  margin-top: 0;
}
