.nav{
  width: 100%;
  height: 60px;
  background-color: $azul;
  &__wrapper{
    @include container();
    width: 100%;
  }
  &__row{
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul{
    display: flex;
    a, a:active, a:hover, a:visited{
      color: $light;
    }
  }
  &__right-item:first-child{
    margin: 0;
  }
  &__right-item{
    margin-left: 40px;
  }
  a[href="index.html"]::before{
    content: " ";
    display: inline-block;
    margin-right: 21px;
    width: 10px; height: 17px;
    background: url('../icons/css_sprites.png') -190px -10px;
  }
}