mixin docs(bem, data)
    +b("doc")
        +e("name") Паспорт гражданина РФ 0000 111111
        +e("item")
            +e("title", {t: "span"}) Кем выдан:
            +e("data", {t: "span"}) выдан ОУФМС РФ по Краснодарскому краю в Центральном округе г.Сочи
        +e("item")
            +e("title", {t: "span"}) Код подразделения:
            +e("data", {t: "span"}) 000000
        +e("item")
            +e("title", {t: "span"}) Дата выдачи:
            +e("data", {t: "span"}) 05.01.2006
        +e("del") Удалить
    +b("doc")
        +e("name") Свидетельство о праве собственности
        +e("item")
            +e("title", {t: "span"}) Кем выдан:
            +e("data", {t: "span"}) правление Федеральной службы государственной регистрации, кадастра и картографии
        +e("item")
            +e("title", {t: "span"}) Адрес:
            +e("data", {t: "span"}) РФ, г. Сочи, ул. Сочинская 57
        +e("item")
            +e("title", {t: "span"}) Дата выдачи:
            +e("data", {t: "span"}) 10.03.2014
        +e("del") Удалить
    +b("doc")
        +e("name") Кадастровый паспорт
        +e("item")
            +e("title", {t: "span"}) Кем выдан:
            +e("data", {t: "span"}) Федеральная кадастровая палата Федеральной службы государственной регистрации
        +e("item")
            +e("title", {t: "span"}) Адрес:
            +e("data", {t: "span"}) РФ, г. Сочи, ул. Красноармейская 9
        +e("item")
            +e("title", {t: "span"}) Дата выдачи:
            +e("data", {t: "span"}) 10.03.2014
        +e("del") Удалить