@import "./helpers/gui";
@import "./helpers/fonts";
@import "./helpers/grid";
@import "~normalize-scss/sass/normalize";
// Blocks styles
@import "../../blocks/**/*.scss";
// Components styles
@import "../../components/**/*.scss";

@import '~js-datepicker/dist/datepicker.min.css';

*,
*::before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::-ms-clear {
    display: none;
}

body {
    background: #E5E5E5;
    font-family: 'GothamPro', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 18px;
    color: $main-text-color;
    -webkit-font-smoothing: antialiased;
    @include to-sm() {
        font-size: 15px;
    }

    &.fixed {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=file]{
    display: none;
}

//СПРАЙТЫ

.bg-Vector {
    width: 8px; height: 8px;
    background: url('../icons/css_sprites.png') -190px -47px;
}

.bg-check_box {
    width: 8px; height: 8px;
    background: url('../icons/css_sprites.png') -190px -75px;
}

.bg-checked {
    width: 8px; height: 8px;
    background: url('../icons/css_sprites.png') -190px -103px;
}

.bg-AppStore_bage {
    width: 100px; height: 30px;
    background: url('../icons/css_sprites.png') -10px -58px;
}

.bg-arroe_left {
    width: 10px; height: 17px;
    background: url('../icons/css_sprites.png') -190px -10px;
}

.bg-dob_ico {
    width: 18px; height: 18px;
    background: url('../icons/css_sprites.png') -137px -108px;
}

.bg-fb_ico {
    width: 27px; height: 28px;
    background: url('../icons/css_sprites.png') -143px -10px;
}

.bg-gh_ico_hover {
    width: 27px; height: 28px;
    background: url('../icons/css_sprites.png') -143px -58px;
}

.bg-GooglePlay_bage {
    width: 113px; height: 28px;
    background: url('../icons/css_sprites.png') -10px -10px;
}

.bg-icon_doc_blue {
    width: 20px; height: 26px;
    background: url('../icons/css_sprites.png') -57px -108px;
}

.bg-icon_doc {
    width: 20px; height: 26px;
    background: url('../icons/css_sprites.png') -97px -108px;
}

.bg-inst_ico {
    width: 27px; height: 28px;
    background: url('../icons/css_sprites.png') -10px -108px;
}
.bg-arrow {
    width: 6px; height: 4px;
    background: url('../icons/css_sprites.png') -190px -131px;
}

//DATEPICKER
.qs-datepicker-container{
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    border: none;
    border-radius: 5px;
}
.qs-controls{
    background: $azul !important;
    height: 60px !important;
}
.qs-left:after{
    border-right-color: $light !important;
}
.qs-right:after{
    border-left-color: $light !important;
}
.qs-month, .qs-year{
    color: $light !important;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: $azul;
}
.qs-squares, .qs-datepicker .qs-square.qs-current{
    background: #E5E5E5;
}
.qs-current{
    border: none;
    text-decoration: none !important;
    background-color: #FF4040 !important;
}
.qs-day{
    margin-top: 5px;
}
.qs-active{
    background-color: $azul !important;
}